
body{
  background-color: darkgreen;
  align-items: center;
}

/* ol */
.carousel__viewport {
  text-align: center;
  position: relative;
  display: flex;
  overflow-x: scroll;
  height:100%;
  width:100%;
  /* Creates a new instance of the item counter with each ol element */                                          
  counter-reset: item;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
/* ol end */

/* li */
.carousel__slide {
  position: relative;
  display:flex;
  
  /* Contents, SLidebutton align! */
  align-items: center;
  
  flex: 0 0 100%;
  width: 100%;
  background-color: rgb(233, 233, 233);
  counter-increment: item;  /* Increment the value of section counter by 1 */
}
/* li end */

.carousel__navigation {
  text-align: center;
}

/* common */

#image{
  filter: grayscale(100%);
}

img{
  border: 1px solid black;
}

#image:hover{
  opacity: 1;
  filter:none;
}

.explanation{
  visibility: hidden;
  margin: auto;
  /* em = Relative to the font-size of the element (2em means 2 times the size of the current font) */
  font-size: 1.5em;
}

.show{
  visibility: visible;
}

.carousel__content{
  display:flex;
  align-items: center;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* ::slidebutton */
.carousel__prev,
.carousel__next {
  position: absolute;
  margin: auto;
  height: 4rem;
  border-radius: 50%;
  font-size: 10;
}

.arrow{
  width: 60px;
  border:none;
}

/* Side button Position */

.carousel__prev {
  left: 2%;
}

.carousel__next {
  right: 2%;
}


/* ::slidebutton End*/

/* common end */

/* Grad Work */
.gradworkpanel{
  /* vh = Relative to 1% of the height of the viewport* */
  height:80vh;
  margin: 1vh;
  margin-left: 15vh;
  margin-right: 10vh;
}
/* Grad Work End */


/* fourmaps */
.fourmaps{
  width:70vh;
  margin-left: 13vh;
  margin-right: 13vh;
}

/* four maps end */

/* sixmaps */
.sixmaps{
  height:75vh;
  margin-left:14vh;
  margin-right:14vh;
}

/* sixmaps end */

/* Final Maps */
.finalmaps{
  height: 50vh;
  margin-left:11vh;
  margin-right: 11vh;
}

.conceptdesign{
  width: 50vh;
}

/* Final maps end */

/* naturpark */
.naturpark{
  height: 70vh;
  margin-left: 14vh;
  margin-right: 14vh;
}
/* naturpark End*/




/* SLIDE */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

